.main-container {
    display: flex;
    flex-direction: column;
}

.row_container {
    display: flex;
    justify-content: center
    /* justify-content: center; */
}

.left_text {
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    position:absolute;
    margin-top:80px;
    margin-left:200px;
    max-width: 10cm;
}

.right_text {
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    position:absolute;
    margin-top:-250px;
    margin-left:1200px;
}

.planet {
    display:flex;
    margin-left:auto;
    margin-right:auto;
    width:350px;
}
.planet-header {
    text-align:center;
    color:aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:100px;
}
#venus {
    width:450px;
}

#jupiter {
    width:400px;
}
#saturn {
    width:600px;
}
#uranus {
    width:450px;
}
#neptune {
    width:600px;
}
::-webkit-scrollbar {
    width:8px;
}
::-webkit-scrollbar-thumb {
    background:aliceblue
}
::-webkit-scrollbar-track {
    background:black
}